<h1> Get a playlist reccomendation! </h1>

<p> Start by adding what you are already interested in. </p>

<p> You can decide whether to complete all of the fields or leave some blank. </p>

</p> Once you're done click submit to get your personalized playlist. </p>



<form action="/search_results">
  <label for="user_genre"> Genre (eg. rock)</label>
  <input id="user_genre" type="text" name="genre">


  <label for="user_energy"> Energy (number between 0 and 1)</label>
  <input id="user_energy" type="text" name="target_energy">

  <label for="user_instrumentalness"> Instrumentals (number between 0 and 1)</label>
  <input id="user_instrumentalness" type="text" name="target_instrumentalness">

  <label for="user_dance"> Danceability (number between 0 and 1)</label>
  <input id="user_dance" type="text" name="target_danceability">

  <button> Submit </button>

</form>
