
<div id="instructions">
  <h1> Get a playlist recomendation! </h1>

  <p> Start by adding what you are already interested in. </p>

  <p> You must complete at least one of the fields. </p>

  </p> Once you're done click submit to get your personalized playlist. </p>

  <p> Note that if you leave all of the fields blank you won't get any recomendations. </p>

</div>
<form action="/search_results" id="searchForm">
  <label for="user_genre"> <b>Genre</b> (eg. rock)</label>
  <input id="user_genre" type="text" name="genre">


  <label for="user_energy"> <b>Energy</b> (number between 0 and 1)</label>
  <input id="user_energy" type="text" name="target_energy">

  <label for="user_instrumentalness"> <b>Instrumentals</b> (number between 0 and 1)</label>
  <input id="user_instrumentalness" type="text" name="target_instrumentalness">

  <label for="user_dance"> <b>Danceability</b> (number between 0 and 1)</label>
  <input id="user_dance" type="text" name="target_danceability">

  <button id="buttonSubmit"> Submit </button>

</form>

<img src="/Spotifyimage.webp" alt="Spotify character image." style="width:300px;height:300px;">

<a href="/genres_available">Don't know what genre(s) to pick? </a>
